*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    line-height: 1;
    background-color: white;
    width: 100%;
    height: 100vh;
}
img{
    display: block;
    max-width: 100%;
}
.boxtext{
    position: relative;
    width: 10rem;
    height: 10rem;
    margin: 5rem auto;
    border-radius: 50%;
    background-color: red;
    
}
.boxtext:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    animation: fade 1s forwards alternate infinite linear;
}
@keyframes fade{
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.box{
    text-align: center;
    margin: 5rem;
    animation: loading 1s infinite;
}
.box__item{
    width: 3rem;
    height: 3rem;
    border: 3px solid violet;
    display: inline-block;
    border-radius: 3rem;
    margin: 0 0.5rem;
}
.box__item:first-child{
    border-color: green;
}
@keyframes loading {
   50%{
      transform: rotate(200deg)
    }
    75%{
        transform: rotate(160deg)
    }
    100%{
        transform: rotate(180deg)
    }
}
p{
    display: block;
    color: brown;
    text-align: center;
    margin: 5rem;
    font-size: 40px ;
}
button{
    display: block;
    margin: 5rem auto;
    font-size: 35px;
    padding: 10px 15px;
    color: aliceblue;
    background-color: rgb(207, 171, 197);
    cursor: pointer;
}
button:hover{
    font-size: 38px;
    color: brown;
    border-radius: 5px;
}

/* .content{
    width: 508px;
    height: 300px;
    position: relative;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__icon{
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bar{
    position: relative;
    height: 1rem;
    background-color: #ccc;
    margin: 5rem auto 0;
    border-radius: 2rem;
}
.bar__send{
    height: 100%;
    width: 50%;
    border-radius: inherit;
    background-color: green;
}
.bar__color{
    width: 2rem;
    height: 2rem;
    background-color: green;
    border-radius: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.title{ 
    position: relative;
    color: transparent;
    display: inline-block;
    font-size: 3rem;
    margin: 1rem;
    -webkit-background-clip: text;
     background-clip: text; 
    background-image: linear-gradient(to right ,#00aefb, #ffa400);
    cursor: pointer;
   
}
.title:before{
    content: " Anh ";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.contact{
    position: relative;
    text-align: center;
    font-size: 5rem;
}
.contact:after {
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 5px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.contact__line{
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: white;
    z-index: 2;
}




.icon{
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    color: red;
    background-color: aqua;
    margin: 5rem auto;
    position: relative;
}
.icon-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-user:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: currentColor;
    position: absolute;
    opacity: 0.25;
    top: 0;
    left: 0;

} */
/* .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.117);
}
.modal__content{
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

} */

/* .title{
    font-weight: bold;
    font-size: 3rem;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    background-image: linear-gradient(to right botton,
     #00aefb, #ffa400);
     color: transparent;
     -webkit-background-clip: text;
     background-clip: text; 
}
@supports(-webkit-background-clip: text){
    .title{
     background-image: linear-gradient(to right botton,
     #00aefb, #ffa400);
     -webkit-background-clip: text;
     background-clip: text; 
    }
}
.shadow{
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: 5rem auto;
    transform:  translateY(-100%);
    box-shadow: 5px 0 0 6px rgb(141, 100, 100);
}

.shadown-text{
    font-size: 4rem;
    font-weight: bold;
    text-shadow: -13px -11px 18px red;
} */
